@font-face {
  font-family: "quicksand";
  src: url("../Fonts/quicksand/Quicksand-Bold.otf"); }

* {
  margin: 0px; }

h1 {
  font-family: "quicksand";
  font-size: 30px; }

p {
  font-family: "verdana"; }

.container-fluid {
  padding: 0px;
  margin: 0px; }

.image-container {
  position: relative;
  text-align: center;
  color: white; }

.centered-text {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%); }

.card-img-top, .card-img-bottom {
  width: 100%;
  height: 50%;
  object-fit: cover;
  box-shadow: 0 10px 30px white; }

.destacado:hover {
  background-color: coral; }

.subrayado:hover {
  text-decoration: underline;
  color: coral; }

body {
  background-color: #69BCDD;
  height: 10%; }

.space-between {
  padding-top: 100px; }

footer {
  background-color: #e4e4e1; }
  footer a {
    text-decoration: none;
    color: black;
    padding: 5px; }

@media (min-width: 992px) {
  h1 {
    font-size: 50px; }
  .carousel-item p, .carousel-inner p {
    padding-bottom: 20px; } }
