@font-face {
  font-family: "quicksand";
  src: url("../Fonts/quicksand/Quicksand-Bold.otf"); }

* {
  margin: 0px; }

h1 {
  font-family: "quicksand"; }

p {
  font-family: "verdana"; }

.container-fluid {
  padding: 0px;
  margin: 0px; }

.image-container {
  position: relative;
  text-align: center;
  color: white; }

.centered-text {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%); }

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover; }

.card-img-bottom {
  width: 100%;
  height: 15vw;
  object-fit: cover; }

.destacado:hover {
  background-color: coral; }

.subrayado:hover {
  text-decoration: underline;
  color: coral; }

body {
  background: #020024;
  background: #69BCDD;
  height: 10%; }

.space-between {
  padding-top: 100px; }

footer {
  background-color: #f2e3bc; }
  footer a {
    color: #69BCDD;
    text-decoration: none; }
