//mapa de colores
$colors:(color-principal:#69BCDD, color-texto: white, color-secundario: coral, color-terciario:#e4e4e1, color-neutro:black);

//breakpoint
$desktop: 992px;

//sombreado
$shadow: 0 10px 30px white;

