
@font-face {
    font-family: "quicksand";
     src: url('../Fonts/quicksand/Quicksand-Bold.otf')
}

@import 'variables';
@import 'tipografias' ;

* {
    margin: 0px;
    
}

@function color($color-name){
    @return map-get($colors, $color-name);
}


h1{
    font-family: $text-title;
    font-size: 30px;

}

p{
    font-family: $text;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}


.image-container {
    position: relative;
    text-align: center;
    color: color(color-texto);
}

.centered-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    box-shadow: $shadow;
}


.card-img-bottom{
    @extend .card-img-top;

}
.destacado:hover{
    background-color: color(color-secundario);
}

.subrayado:hover{
    text-decoration: underline;
    color: color(color-secundario);
}

body {
background-color: color(color-principal); 
height: 10%


}

.space-between{
    padding-top: 100px;
}


footer{
    background-color: color(color-terciario);

   a{
       color: color(color-pricipal);
       text-decoration: none;
       padding: 5px;

   }
}

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content
    }
    
}

@include desktop {


    h1 {
    font-size:50px;
    }

    .carousel-inner{
        @extend .carousel-item;

    }


    .carousel-item{
    p{
        padding-bottom: 20px;
    }
}

}